<h1>HI!</h1>
<p>Welcome to single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://github.com/auth0/angular2-jwt'>angular2-jwt</a> for user authorization</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='https://github.com/akserg/ng2-toasty'>ng2-toasty</a> for server message diplaying</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='https://docs.microsoft.com/en-us/ef/core/'>Entity Framework Core</a> to work with a database using .NET objects</li>
    <li><a href='https://github.com/JeremySkinner/FluentValidation'>FluentValidation</a> for dto's validation</li>
    <li><a href='https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-2.0&tabs=visual-studio'>ASP.NET Core Identity</a> membership system that adds login functionality to ASP.NET Core apps   <strong>(Role-based JWT authentication scheme was used)</strong></li>
</ul>
